.wp-block-zolo-charts {
    width: 100%;
    height: auto;
    // background: #f9f9f9;
    padding: 20px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    box-sizing: border-box;
}

.zolo-e-icon {
    color: #2677ff;
}
